{% extends 'shared/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}


           <div id="mySidenav" class="sidenav">
             <a href="javascript:void(0)" class="closebtn1" onclick="closeNav()">&times;</a>
             <br>
             <br>
             <br>
             <br>
             <br>
             <a href="{% static 'users/css/YearCalendar.pdf' %}" target="_blank">Full Year</a>
             <a href="#" class="" onclick="openCal()">Calendar View</a>
              <a href="\future.pdf" target="_blank">Future</a><br><br>
              <span class="w3-border-top w3-border-light-grey w3-left mt-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             </span>
           <br>
           <br>
             <a href="#" class="" onclick="openJan()">January</a>
             <a href="#" class="" onclick="openFeb()">February</a>
             <a href="#" class="" onclick="openMar()">March</a>
             <a href="#" class="" onclick="openApr()">April</a>
             <a href="#" class="" onclick="openMay()">May</a>
             <a href="#" class="" onclick="openJune()">June</a>
             <a href="#" class="" onclick="openJuly()">July</a>
             <a href="#" class="" onclick="openAug()">August</a>
             <a href="#" class="" onclick="openSep()">September</a>
             <a href="#" class="" onclick="openOct()">October</a>
             <a href="#" class="" onclick="openNov()">November</a>
             <a href="#" class="" onclick="openDec()">December</a><br>

             <br>
           </div>
           <!-- Header for January -->
           <div id="January" class="sidenav1">
             <a href="javascript:void(0)" class="closebtn1" onclick="closeJan()">&times;</a>
             <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">January</span></h1><br><br><br>
           <!-- Dates for January -->
             <p>
             <a href="#">1-3 Prayer Trip to Sofia Bulgaria</a>
             Test 2
             Test 3
           </div>
           <!-- Header for February -->
             <div id="February" class="sidenav1">
             <a href="javascript:void(0)" class="closebtn1" onclick="closeFeb()">&times;</a>
             <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">February</span></h1><br><br><br>
           <!-- Dates for February -->
             <P>
             <a href="#">Another Thing</a>
             Test 4
             Test 5
           </div>
           <!-- Header for March -->
             <div id="March" class="sidenav1">
             <a href="javascript:void(0)" class="closebtn1" onclick="closeMar()">&times;</a>
              <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">March</span></h1><br><br><br>
           <!-- Dates for March -->
            <P>
             <a href="#">Yep</a>
             Test 4
             Test 5
           </div>
           <!-- Header for April -->
           <div id="April" class="sidenav1">
           <a href="javascript:void(0)" class="closebtn1" onclick="closeApr()">&times;</a>
            <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">April</span></h1><br><br><br>
           <!-- Dates for April -->
             <P>
             <a href="#">Still</a>
             Test 4
             Test 5
           </div>
           <!-- Header for May -->
           <div id="May" class="sidenav1">
           <a href="javascript:void(0)" class="closebtn1" onclick="closeMay()">&times;</a>
            <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">May</span></h1><br><br><br>
           <!-- Dates for May -->
             <P>
             <a href="#">May</a>
             Test 4
             Test 5
           </div>
           <!-- Header for June -->
           <div id="June" class="sidenav1">
           <a href="javascript:void(0)" class="closebtn1" onclick="closeJune()">&times;</a>
            <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">June</span></h1><br><br><br>
           <!-- Dates for June -->
             <P>
             <a href="#">June</a>
             Test 4
             Test 5
           </div>
           <!-- Header for July -->
           <div id="July" class="sidenav1">
           <a href="javascript:void(0)" class="closebtn1" onclick="closeJuly()">&times;</a>
            <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">July</span></h1><br><br><br>
           <!-- Dates for July -->
             <P>
             <a href="#">July</a>
             Test 4
             Test 5
           </div>
           <!-- Header for August -->
           <div id="August" class="sidenav1">
           <a href="javascript:void(0)" class="closebtn1" onclick="closeAug()">&times;</a>
            <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">August</span></h1><br><br><br>
           <!-- Dates for August -->
             <P>
             <a href="#">August</a>
             Test 4
             Test 5
           </div>
           <!-- Header for September -->
           <div id="September" class="sidenav1">
           <a href="javascript:void(0)" class="closebtn1" onclick="closeSep()">&times;</a>
            <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">September</span></h1><br><br><br>
           <!-- Dates for September -->
             <P>
             <a href="#">September</a>
             Test 4
             Test 5
           </div>
           <!-- Header for October -->
           <div id="October" class="sidenav1">
           <a href="javascript:void(0)" class="closebtn1" onclick="closeOct()">&times;</a>
            <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">October</span></h1><br><br><br>
           <!-- Dates for October -->
             <P>
             <a href="#">October</a>
             Test 4
             Test 5
           </div>
           <!-- Header for November -->
           <div id="November" class="sidenav1">
           <a href="javascript:void(0)" class="closebtn1" onclick="closeNov()">&times;</a>
            <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">November</span></h1><br><br><br>
           <!-- Dates for November -->
             <P>
             <a href="#">November</a>
             Test 4
             Test 5
           </div>
           <!-- Header for December -->
           <div id="December" class="sidenav1">
           <a href="javascript:void(0)" class="closebtn1" onclick="closeDec()">&times;</a>
            <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">December</span></h1><br><br><br>
           <!-- Dates for December -->
             <P>
             <a href="#">December</a>
             Test 4
             Test 5
           </div>
           <!-- Google Calendar Embed -->
           <div id="Calendar" class="sidenav1">
           <a href="javascript:void(0)" class="closebtn1" onclick="closeCal()">&times;</a>
           <h1 class="w3-xxlarge"><span class="w3-text-white w3-left w3-border-bottom w3-border-light-grey w3-padding-small">EME UPCI Calendar</span></h1><br><br><br>
           <div align="center"><br>
           <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=administrator%40emeupci.eu&amp;color=%2323164E&amp;ctz=America%2FChicago" style="border-width:0" width="1000" height="800" frameborder="0" scrolling="no"></iframe>
           </div>
           </div>

               </div>
           </div>

<!-- Header -->
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
           <span style="font-size: 50px; opacity: 0.7; background-color: white"><b class="mr-3 ml-3" style="color: black">EME</b></span>
           <span style="font-size: 50px; opacity: 0.7; background-color: black"><b class="mr-3 ml-3">Region</b></span>
          </div>
          </div>
      </div>
    </header>

    <section class="border-bottom" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-left">
            <h2 class="section-heading">Europe & the Middle East</h2><br>
            <p class="mb-4">The Europe and Middle East Region spans across the EurAsian Continent; from picturesque streets of Lisbon in the west to the breathtaking wilderness of Kamchatka in Russia's far east. The divirsity of landscapes is eclipsed only by the diversity of people groups. There is one unifying truth; everyone, everywhere has need of a Savior. This the mission of the Europe and Middle East United Pentecostal Church: to share the good news of a powerful Savior.
              <br><br><div class=" col-sm-12 mx-auto text-right">Capturing the hearts of mankind and Cities for Christ.</div></p>
          </div>
        </div>
      </div>
    </section>


<section class="border-bottom" id="areas">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-left">
            <h2 class="section-heading">Areas</h2>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <h3 class="mb-3">Northern Europe</h3>
              <img src="{% static 'users/img/iceland3edit.jpg' %}" alt="Northern Europe" style="width:100%">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <h3 class="mb-3">Western Europe</h3>
              <img src="{% static 'users/img/franceedit.jpg' %}" alt="Western Europe" style="width:100%">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <h3 class="mb-3">Eastern Europe</h3>
              <img src="{% static 'users/img/hungaryedit.jpg' %}" alt="Eastern Europe" style="width:100%">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <h3 class="mb-3">CIS & Baltic States</h3>
              <img src="{% static 'users/img/latviaedit.jpg' %}" alt="CIS" style="width:100%">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <h3 class="mb-3">Middle East & Gulf States</h3>
              <img src="{% static 'users/img/dubai4edit.jpg' %}" alt="Middle East" style="width:100%">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <h3 class="mb-3">North Africa & Mediterranean</h3>
              <img src="{% static 'users/img/NaMededit.jpg' %}" alt="Eastern Europe" style="width:100%">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="border-bottom p-5" id="locate">
      <div class="container">
              <div class="row">
                <div class="col-lg-12 mx-auto text-left">
                  <h2 class="section-heading">Locate a Church!</h2>
                  <br>
                  <p class="mb-5">There are fantastic, Spirit lead, Holy Ghost filled churches all across the EME Region.  Find one near you! </p>
                </div>
              </div>
                <div class="container-fluid headerimage">
                  <div class="col-md-12">
                      <!-- <img class="background-image" src="{% static 'users/img/map.png' %}" alt="map" style="width: 100%;"> -->
                      <div class="child">
                        <div class="dropdown" align="center">
                           <button  onclick="myFunction()"
                                    class="dropbtn dropdown-toggle"
                                    style=" border: 26px solid #f9f9f9;
                                         cursor: pointer;
                                         font-weight: bold; background-color: #447193;
                                         color: white; padding: 8px; border-radius: 0px;
                                         font-size: 16px;);">Search for a church
                           </button>
                        </div>

                        <div id="myDropdown" class="dropdown-content">
                            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                            {% for country in country %}
                              <a href="{% url 'users:cities' country.pk %}">{{country.country}}</a>
                            {% endfor %}

                          </div>
                        </div>
          </section>


           <section class="border-bottom" id="ministries">
             <div class="container">
               <div class="row">
                 <div class="col-lg-12 text-left">
                   <h2 class="section-heading">Ministries</h2>
                 </div>
               </div>
             </div>
             <div class="container border-right">
               <div class="row">
                 <div class="col-lg-3 col-md-12 text-center">
                   <div class="service-box mt-5 mx-auto">
                     <img src="{% static 'users/img/Campus.png' %}" alt="campus" style="width:25%" align="right" class="w3-margin-right">
                      <h3 class="mb-3 text-left">Campus</h3>
                      <p class="text-left text-muted">For College Students</p>
                      <p style="padding-bottom: 71px;" class="text-left mt-4">Giving students something that can't be found in textbooks! This ministry is specific to College Campuses.</p>
                      <p><a href="http://www.campusnow.org/home" class="btn btn-info btn-block" style="background-color: #ccc8c7; border-radius: 0;" target="_blank">More Information</a></p>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-12 text-center">
                   <div class="service-box mt-5 mx-auto">
                     <img src="{% static 'users/img/children.png' %}" alt="campus" style="width:25%" align="right" class="w3-margin-right">
                      <h3 class="mb-3 text-left">Children</h3>
                      <p class="text-left text-muted">Energy and Creativity</p>
                      <p style="padding-bottom: 71px;" class="text-left mt-4">Resources are available to help you develop an effective children's ministry wherever you are. We can help!</p>
                      <p><a href="#" class="btn btn-info btn-block" style="background-color: #ccc8c7; border-radius: 0;" target="_blank">More Information</a></p>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-12 text-center">
                   <div class="service-box mt-5 mx-auto">
                     <img src="{% static 'users/img/Evangelism.png' %}" alt="campus" style="width:25%" align="right" class="w3-margin-right">
                      <h3 class="mb-3 text-left">Evangelism</h3>
                      <p class="text-left text-muted">You are a Soul Winner</p>
                      <p class="text-left mt-4">Europe has 831,400,000 souls that need Christ. With the EU opening up to people of all ethnic, cultural & religious backgrounds, there is no greater time than right now to “Enter the Harvest!</p>
                      <p><a href="http://eurosoulwinners.com/ESW2018/" class="btn btn-info btn-block" style="background-color: #ccc8c7; border-radius: 0;" target="_blank">More Information</a></p>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-12 text-center">
                   <div class="service-box mt-5 mx-auto">
                     <img src="{% static 'users/img/Men.png' %}" alt="campus" style="width:25%" align="right" class="w3-margin-right">
                      <h3 class="mb-3 text-left">Men</h3>
                      <p class="text-left text-muted">Ministry specific for Men</p>
                      <p style="padding-bottom: 95px;" class="text-left mt-4">Fellowship, Camaraderie, Friendship, and Encouragement!</p>
                      <p><a href="#" class="btn btn-info btn-block" style="background-color: #ccc8c7; border-radius: 0;" target="_blank">More Information</a></p>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-12 text-center">
                   <div class="service-box mt-5 mx-auto">
                     <img src="{% static 'users/img/military.png' %}" alt="campus" style="width:25%" align="right" class="w3-margin-right">
                      <h3 class="mb-3 text-left">Military</h3>
                      <p class="text-left text-muted">Serving those who Serve</p>
                      <p style="padding-bottom: 95px;" class="text-left mt-4">Points of connection and fellowship for those serving abroad.</p>
                      <br>
                      <p><a href="https://www.facebook.com/upcimilitarychaplains/" class="btn btn-info btn-block" style="background-color: #ccc8c7; border-radius: 0;" target="_blank">More Information</a></p>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-12 text-center">
                   <div class="service-box mt-5 mx-auto">
                     <img src="{% static 'users/img/ladies.jpg' %}" alt="campus" style="width:25%" align="right" class="w3-margin-right">
                      <h3 class="mb-3 text-left">Ladies</h3>
                      <p class="text-left text-muted">Ministry specific to Ladies</p>
                      <p style="padding-bottom: 120px;" class="text-left mt-4">Powerful ministry by Ladies for Ladies!</p>
                      <br>
                      <p><a href="https://www.facebook.com/EMELadies/" class="btn btn-info btn-block" style="background-color: #ccc8c7; border-radius: 0;" target="_blank">More Information</a></p>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-12 text-center">
                   <div class="service-box mt-5 mx-auto">
                     <img src="{% static 'users/img/literature.png' %}" alt="campus" style="width:25%" align="right" class="w3-margin-right">
                      <h3 class="mb-3 text-left">Literature</h3>
                      <p class="text-left text-muted">Getting the word out</p>
                      <p style="padding-bottom: 0px;" class="text-left mt-4">Just as we are diverse geographically, ethnically, and culturally we are also diverse linguistically. This ministry is devoted to an ever expanding repository of information in various languages.</p>
                      <br>
                      <p><a href="http://www.globaltracts.com" class="btn btn-info btn-block" style="background-color: #ccc8c7; border-radius: 0;" target="_blank">More Information</a></p>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-12 text-center">
                   <div class="service-box mt-5 mx-auto">
                     <img src="{% static 'users/img/youth.png' %}" alt="campus" style="width:25%" align="right" class="w3-margin-right">
                      <h3 class="mb-3 text-left">Youth</h3>
                      <p class="text-left text-muted">For those under 25</p>
                      <p style="padding-bottom: 24px;" class="text-left mt-4">This world does not need more young people to sell out... this generation needs more like Joshua, Esther, Caleb, and Ruth! EME Youth Ministry is devoted to empowering this generation.</p>
                      <p><a href="http://www.emeyouth.com" class="btn btn-info btn-block" style="background-color: #ccc8c7; border-radius: 0;" target="_blank">More Information</a></p>
                   </div>
                 </div>
           </section>
           <section class="h-100" id="contact">
             <div class="container">
               <div class="row">
                 <div class="col-lg-12 mx-auto text-left">
                   <h2 class="section-heading text-center"><strong class="text-uppercase position-sticky">Contact</strong></h2><br>
                     <br>
                     {% include 'users/social_buttons.html' %}
                 </div>
               </div>
             </div>
           </section>

           <script src="{% static 'users/vendor/jquery/jquery.min.js' %}"></script>
           <script src="{% static 'users/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

           <!-- Plugin JavaScript -->
           <script src="{% static 'users/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
           <script src="{% static 'users/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
           <script src="{% static 'users/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

           <!-- Custom scripts for this template -->
           <script src="{% static 'users/js/creative.min.js' %}"></script>

           <script>
           function openNav() {
           document.getElementById("mySidenav").style.width = "250px";
           document.getElementById("main").style.marginLeft = "250px";
           document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
           }

           function closeNav() {
           document.getElementById("mySidenav").style.width = "100";
           document.getElementById("main").style.marginLeft= "0";
           document.body.style.backgroundColor = "white";
           }
           </script>
           <!-- Script for January -->
           <script>
           function openJan() {
           document.getElementById("January").style.width = "450px";
           document.getElementById("main").style.marginLeft = "450px";
           document.body.style.backgroundColor = "rgba(58,114,217,1)";
           }

           function closeJan() {
           document.getElementById("January").style.width = "0";
           document.getElementById("main").style.marginLeft= "0";
           document.body.style.backgroundColor = "white";
           }
           </script>
           <!-- Script for February -->
           <script>
           function openFeb() {
           document.getElementById("February").style.width = "450px";
           document.getElementById("main").style.marginLeft = "450px";
           document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
           }

           function closeFeb() {
           document.getElementById("February").style.width = "0";
           document.getElementById("main").style.marginLeft= "0";
           document.body.style.backgroundColor = "white";
           }
           </script>
           <!-- Script for March -->
           <script>
           function openMar() {
           document.getElementById("March").style.width = "450px";
           document.getElementById("main").style.marginLeft = "450px";
           document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
           }

           function closeMar() {
           document.getElementById("March").style.width = "0";
           document.getElementById("main").style.marginLeft= "0";
           document.body.style.backgroundColor = "white";
           }
           </script>
           <!-- Script for April -->
           <script>
           function openApr() {
           document.getElementById("April").style.width = "450px";
           document.getElementById("main").style.marginLeft = "450px";
           document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
           }

           function closeApr() {
           document.getElementById("April").style.width = "0";
           document.getElementById("main").style.marginLeft= "0";
           document.body.style.backgroundColor = "white";
           }
           </script>
           <!-- Script for May -->
           <script>
           function openMay() {
           document.getElementById("May").style.width = "450px";
           document.getElementById("main").style.marginLeft = "450px";
           document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
           }

           function closeMay() {
           document.getElementById("May").style.width = "0";
           document.getElementById("main").style.marginLeft= "0";
           document.body.style.backgroundColor = "white";
           }
           </script>
           <!-- Script for June -->
           <script>
           function openJune() {
           document.getElementById("June").style.width = "450px";
           document.getElementById("main").style.marginLeft = "450px";
           document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
           }

           function closeJune() {
           document.getElementById("June").style.width = "0";
           document.getElementById("main").style.marginLeft= "0";
           document.body.style.backgroundColor = "white";
           }
           </script>
           <!-- Script for July -->
           <script>
           function openJuly() {
           document.getElementById("July").style.width = "450px";
           document.getElementById("main").style.marginLeft = "450px";
           document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
           }

           function closeJuly() {
           document.getElementById("July").style.width = "0";
           document.getElementById("main").style.marginLeft= "0";
           document.body.style.backgroundColor = "white";
           }
           </script>
           <!-- Script for August -->
           <script>
           function openAug() {
           document.getElementById("August").style.width = "450px";
           document.getElementById("main").style.marginLeft = "450px";
           document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
           }

           function closeAug() {
           document.getElementById("August").style.width = "0";
           document.getElementById("main").style.marginLeft= "0";
           document.body.style.backgroundColor = "white";
           }
           </script>
           <!-- Script for September -->
           <script>
           function openSep() {
           document.getElementById("September").style.width = "450px";
           document.getElementById("main").style.marginLeft = "450px";
           document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
           }

           function closeSep() {
           document.getElementById("September").style.width = "0";
           document.getElementById("main").style.marginLeft= "0";
           document.body.style.backgroundColor = "white";
           }
           </script>
           <!-- Script for October -->
           <script>
           function openOct() {
           document.getElementById("October").style.width = "450px";
           document.getElementById("main").style.marginLeft = "450px";
           document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
           }

           function closeOct() {
           document.getElementById("October").style.width = "0";
           document.getElementById("main").style.marginLeft= "0";
           document.body.style.backgroundColor = "white";
           }
           </script>
           <!--Script for November -->
           <script>
           function openNov() {
           document.getElementById("November").style.width = "450px";
           document.getElementById("main").style.marginLeft = "450px";
           document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
           }

           function closeNov() {
           document.getElementById("November").style.width = "0";
           document.getElementById("main").style.marginLeft= "0";
           document.body.style.backgroundColor = "white";
           }
           </script>
           <!-- Script for December -->
           <script>
           function openDec() {
           document.getElementById("December").style.width = "450px";
           document.getElementById("main").style.marginLeft = "450px";
           document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
           }

           function closeDec() {
           document.getElementById("December").style.width = "0";
           document.getElementById("main").style.marginLeft= "0";
           document.body.style.backgroundColor = "white";
           }
           </script>
           <!-- Script for Calendar tab -->
           <script>
           function openCal() {
           document.getElementById("Calendar").style.width = "100%";
           document.getElementById("main").style.marginLeft = "100%";
           document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
           }

           function closeCal() {
           document.getElementById("Calendar").style.width = "0";
           document.getElementById("main").style.marginLeft= "0";
           document.body.style.backgroundColor = "white";
           }
           </script>
           <script>
           /* When the user clicks on the button,
           toggle between hiding and showing the dropdown content */
           function myFunction() {
             document.getElementById("myDropdown").classList.toggle("show");
           }

           function filterFunction() {
             var input, filter, ul, li, a, i;
             input = document.getElementById("myInput");
             filter = input.value.toUpperCase();
             div = document.getElementById("myDropdown");
             a = div.getElementsByTagName("a");
             for (i = 0; i < a.length; i++) {
               txtValue = a[i].textContent || a[i].innerText;
               if (txtValue.toUpperCase().indexOf(filter) > -1) {
                 a[i].style.display = "";
               } else {
                 a[i].style.display = "none";
               }
             }
           }
           </script>



{% endblock %}
